<!DOCTYPE html>
<html>
    <head>
        <title>Admin Dashboard</title>
        <link href="/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body id="dashboard">
        <h1>GOOD HEALTH CONSULT</h1>
        
            <a href="/patientForm" style="margin-right: 20px; "><b>Add, Edit or Delete Patient</b></a>
            <a href="/editPayment" style="margin-right: 20px; " ><b>Edit Or Delete Payment</b></a>
            <a href="/viewPatients" style="margin-right: 20px;  "><b>View Patients</b></a>
            <a href="/paymentForm" style="margin-right: 20px;  "><b>Payment Form</b></a>
            <a href="/editPayments" style="margin-right: 20px;  "><b>Manage Payments</b></a>

            <br>
            <br>
            <a href="/student" style="margin-right: 20px;  "><b>Student Api</b></a>


       
        
                
            
    </body>
</html>