<!DOCTYPE html>
<html>
    <head>
        <title>GoodHealthConsult</title>
        <link href="/styles.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body id="homeviewbody">
        <header><h1>GOOD HEALTH CONSULT</h1></header>
        <div id="home">
            <h3>ADMIN LOGIN</h3>
            <form id="Login" method="POST" action="/login">
                 <p>Login with default username:root and password:root</p>
                <p><input type="text" name="username" placeholder="username" required/></p>
                <p><input type="password"  name="password" placeholder="password"/>
                <p style="padding-left: 50px;"><button type="submit" id="submitbutton">sumbit</button></p>
            </form>
           
        </div>
    </body>
</html>