<!DOCTYPE html>
<html>
    <head>
        <title>Student Api</title>
        <link href="/styles.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body id="homeviewbody">
        <header><h1>CRUD AP</h1></header>
        <div id="home">
            <h3>Patient Form</h3>
            <form id="Login" method="POST" action="/student">
                <p>Firstname <input type="text" name="firstname" placeholder="firstname" required/></p>
                <p>lastname <input type="text"  name="lastname" placeholder="lastname"/>
                <p>DOB <input type="date" name="dob" placeholder="dob"/></p>
                <p>Contact <input type="text" name="contact" placeholder="contact"/></p>
                <p style="padding-left: 50px;"><button type="submit" id="submitbutton">sumbit</button></p>
            </form>
           
        </div>
    </body>
</html>