<!DOCTYPE html>
<html>
    <head>
        <title>Student Api</title>
        <link href="/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body id="dashboard">
        <h1>Student Api</h1>
        
            <a href="/studentRecords" style="margin-right: 20px; "><b>Add Patient Details</b></a>
            <a href="/editStudents" style="margin-right: 20px; " ><b>Edit Or Delete Payment</b></a>
            
       
        
                
            
    </body>
</html>