<!DOCTYPE html>
<html>
    <head>
        <title>GoodHealthConsult</title>
        <link href="/styles.css" rel="stylesheet" type="text/css"/>
        <script>
            document.getElementById("add").onsubmit = function() {myFunction()};
            
            function myFunction() {
              alert("document added");
            }
        </script>
        
    </head>
    <body id="homeviewbody">
        <header><h1>Students Api</h1></header>
        <div id="home">

            <a href="/deleteStudents" style="margin-right: 20px; "><b>Delete Students</b></a>
            <a href="/updateStudents" style="margin-right: 20px; " ><b>Update Students</b></a>
            <a href="/allStudents" style="margin-right: 20px;  "><b>All Students</b></a>


            <h3>Add Students</h3>
            <form id="add" method="POST" action="/addPatients" onsubmit="myFunction()">
                <p>Firstname   <input type="text" name="firstname" placeholder="firstname" required/>       
                     Lastname <input type="text" name="lastname" placeholder="lastname" required/></p>
                <p>DOB <input type="date" name="dob" placeholder="dob" required/></p>
                <p>Contact <input type="text" name="contact" placeholder="contact" required/></p>
                
                <p style="padding-left: 50px;"><button type="submit" id="submitbutton">sumbit</button></p>
            </form>
           
        </div>
    </body>
</html>