<!DOCTYPE html>
<html>
    <head>
        <title>Admin Dashboard</title>
        <link href="/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body id="dashboard">
        <h1>GOOD HEALTH CONSULT</h1>
        
            <p>view Patients</p>
        
                
            
    </body>
</html>